body{
    border:1px solid green;
}

.page-container{
    border:1px solid rgb(26, 220, 91);    
    display:flex;
    flex-direction:column;
    width:100%;
}

.section1-container{
    display:flex;
    border:1px solid blue;
    flex-direction:column;
    align-items:stretch;
    width:100%;
}

.level-one {
    display:flex;
    flex-direction:row;
    border:1px solid red;
    justify-content:start;
    width:100%;
    text-align:center;
}

.level-one div {
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid black;
    padding: 30px;
    flex-grow:1;
}

.level-one div#logo {
    display: flex;
    justify-content:start;
    align-items:center;
    border: 1px solid black;
    padding-left: 90px;
    flex-grow:20;
}

.section2-container {
    border:3px solid blue;
    justify-content:center;
}
.section2-container div {
    display:flex;
    justify-content:center;
    text-align:center;  
}

.section3-container {

    border:3px solid blue;
    display:flex;
    flex-direction:column;
    align-items:center;

}

.section3-container div {
    width:65%;
}


.section3-container .signature {
    margin-top:0;
    text-align:right;
    font-weight:bold;
    border:1px solid rgb(203, 240, 14);
    color:red;

}

.section3-container .quote {
    text-align:center;
    border:1px solid rgb(203, 240, 14);
}

.level-two{
    display:flex;
    flex-direction:row;
    border:1px solid red;
    justify-content:space-evenly;
    width:100%;
}

#logo{
    flex:3;
    text-align:left;
}

img{
    float: center;
    width:  200px;
    height: auto;
    object-fit: cover;
    border:1px solid black;
    margin:20px;
}

.image-block {
    display:flex;
    flex-direction:column;
    width:min-content;
    border:1px solid green;
}

.image-block div {
    width:200px;
    margin:20px;
}

.image-block p {
    width:200px;
    word-wrap:break-word;
    border:1px solid red;
}

.spacer{
    width:200px;
    border:1px solid blue;
}

